*{
    font-family: Arial;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
}    
.pm{
    margin-left: 10px;
    margin-right: 10px;
}
.adiverso{
    text-decoration: none;
    color: black;
}
.back{
    width: 400px;
    height: 120px;
    border-radius: 20px 20px 20px 20px;
    background: #F7EC7D;
}
img{
    border-radius: 20px 20px 20px 20px;
}
.backorg{
    width: 100%;
    height: 213px;
    border-radius: 20px 20px 20px 20px;
}
.destra{
    float: right;
    margin-left: 10px;
}
.sinistra{
    float: left;
    margin-right: 10px;
}